body {
	background-color: black;
	color: white;
}

.div {
	padding: 20;
}

.button {
	color: white;
	background-color: black;
	border: 2px solid white;
	border-radius: 50px;
	font-size: 3em;
}

.a {
	color: gray;
	text-decoration: none;
}

.h1 {
	color: white;
}

.h2 {
	color: white;
}

.h3 {
	color: white;
}

.h4 {
	color: white;
}

.h5 {
	color: white;
}

.h6 {
	color: white;
}
